<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <!-- <h1>{{ youtube_link }}</h1>
    <iframe width="560" height="315" src="{{ youtube_link }}" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe> -->

    <form action="{{ url_for('share') }}" method="POST">
        Youtube url: <input type="text" name="youtube_link" value="https://www.youtube.com/watch?v=yBCj8Kg9lZg"><br>
        <input type="submit" value="submit">
    </form>
</body>
</html>